:root {
  --color-bg: #006272; /* фон формы */
  --color-text: #ffffff;
  --color-input-bg: #f9f9f9;
  --color-input-border: #ccc;
  --color-button-bg: #ffffff;
  --color-button-text: #006272;
  --color-button-hover: #e0f0f0;
  --font-main: "Segoe UI", sans-serif;
}

/* Box sizing и базовые отступы */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Удаление списочных маркеров и стандартных стилей */
ul,
ol {
  list-style: none;
}

/* Удаление стандартных стилей ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Удаление стандартных outline и фокуса */
:focus {
  outline: none;
}

/* Нормализация форм */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 100%; /* для масштабируемости */
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-color: #fff;
  color: #9697a1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}
.hide {
  font-size: 0;
  margin: 0;
  line-height: 0;
}
.text-white-shadow {
  color: #fff;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.6);
}

/* HEADER */

header {
  width: 100%;
  padding: 34px 0;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 2;
  animation: slideUP 0.4s ease-out forwards;
  font-size: 18px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  flex-shrink: 0;
  color: #006272;
}

.desc {
  font-weight: 300;
  line-height: 1.2;
  font-size: 18px;
  flex-shrink: 0;
}

nav[role="navigation"] {
  position: relative;
}
nav {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  align-items: center;
}
.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search img {
  display: block;
  width: 20px;
}
input[type="search"] {
  border: 1px solid #9697a1;
  border-radius: 8px;
  height: 28px;
  width: 210px;
}

.main_nav {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.main_nav a {
  color: #006272;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s ease;
  user-select: none;
  font-size: 19px;
}

.main_nav li {
  flex-shrink: 0;
  margin: 0;
}

.main_nav a.active {
  color: #9697a1;
}

.main_nav a:hover {
  opacity: 0.8;
}

.scroll-up header {
  position: fixed;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  animation: slideDown 0.4s ease-out forwards;
}

/* ====== Бургер ====== */
.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #006272;
  border-radius: 100px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: transform 0.3s ease, top 0.3s ease;
}

.burger span::before {
  top: -6px;
}

.burger span::after {
  top: 6px;
}

/* ====== Анимация активного состояния ====== */
.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.burger.active span::after {
  top: 0;
  transform: rotate(-45deg);
}

ul {
  margin: 0;
  padding-left: 1.5em;
  list-style-type: disc;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.6;
  color: inherit;
}

li {
  margin-bottom: 0.5em;
}

/*MAIN*/
/* about */
section {
  padding: 100px 0;
  overflow: hidden;
}

.about {
  color: white;
  background-image: linear-gradient(
      210.65deg,
      #ffffff 9%,
      rgba(255, 255, 255, 0.31) 34%,
      rgba(255, 255, 255, 0) 46%
    ),
    url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 190px 0 280px 0;
}

.about_content {
  display: flex;
  gap: 50px;
}

.about_content_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 23px;
  gap: 30px;
}

.about_content_item .logo {
  color: white;
  width: 100%;
  max-width: 470px;
}

.about_content_item .icon img {
  margin-top: 80px;
  width: 450px;
  /* animation: infiniteRotateY 3s ease-in-out infinite; */
}

.about_content_item li {
  max-width: 700px;
  margin-bottom: 14px;
}

/* directions */
.directions {
  background-color: #006272;
}

.directions .container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.card {
  width: 100%;
  background-color: #fff;
  padding: 60px;
  position: relative;
  box-shadow: 10px 60px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  min-height: 787px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card_icon {
  position: absolute;
  right: 38px;
  top: 33px;
  width: 60px;
  order: 1;
}

.card_img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 49%;
  order: 2;
}

.content_card {
  width: 100%;
  max-width: 49%;

  order: 3;
}

.title,
h3 {
  font-weight: 400;
  font-size: 38px;
  color: #006272;
  line-height: 1;
}

.text {
  font-family: Roboto;
  font-weight: 400;

  font-size: 38px;

  line-height: 43px;
}

.card:nth-child(even) .card_img {
  order: 4;
}

@media (max-width: 1160px) {
  .directions .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 28px;
  }
  .title,
  h3 {
    font-size: 30px;
  }
  .card {
    min-height: unset;
    max-width: 500px;
  }
  .content_card,
  .card_img {
    width: 100%;
    max-width: 100%;
  }
  .card:nth-child(even) .card_img {
    order: 0;
  }
}
/* services */

.service {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 100px 0;
}

.services .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.service-card {
  display: flex;
  gap: 8px;
}

.services .row span {
  background-color: #9697a1;

  width: 2px;
  display: block;
  flex-shrink: 0;
}
.service-card_img {
  order: 2;
}

.service-card_content {
  font-size: 28px;
  line-height: 33px;
  order: 1;
  display: flex;
  flex-direction: column;
}

.service-card_content:first-child {
  max-width: 770px;
}

.service-card_content h3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 38px;
  line-height: 33px;
}

.services .icon {
  display: block;
  width: 100%;
  max-width: 60px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .service {
    gap: 30px;
  }
  .service-card_img {
    order: 0;
  }
  .service-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .services .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  .services .row span {
    display: none;
  }
}

@media (max-width: 900px) {
  .services .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    justify-items: center;
  }
  .service-card {
    margin-bottom: 80px;
    max-width: 500px;
  }
  .service-card:last-child {
    margin-bottom: 0px;
  }

  .service-card_content h3,
  .about_content_item p,
  .title {
    font-size: 24px;
    line-height: 100%;
    width: 100%;
  }

  .text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5em;
  }

  .service-card_content {
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .directions .container {
    padding: 0;
    gap: 80px;
  }
  .card {
    padding: 80px 20px 40px 20px;
    box-shadow: none;
  }
}

/* footer */
footer {
  padding: 50px 0;
  color: #006272;
  font-size: 14px;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* contacts */
.contacts {
  background-color: #006272;
}

/* form */
.contacts h2 {
  color: white;
  margin-bottom: 40px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 60px;
  line-height: 44px;
}

.contact-form {
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
.bad .contact-form {
  max-width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea {
  padding: 0.75rem;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  background-color: var(--color-input-bg);
  font-family: Roboto;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
.bad .form-group input,
.bad .form-group textarea {
  padding: 0.75rem;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0px;
  background-color: transparent;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--color-button-text);
  box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.2);
}

.checkbox-group {
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
  margin-top: 0.3rem;
}

.checkbox-group label {
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;

  line-height: 44px;
}

.checkbox-group a {
  color: #fff;
  text-decoration: underline;
}

.submit-button {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bad .submit-button {
  width: 100%;
  max-width: 627px;
  height: 130px;
  font-weight: 400;

  display: block;
  border-radius: 100px;
  font-size: 40px;
  background: linear-gradient(180deg, #ffffff, #cccccc);
}

.submit-button:hover {
  background-color: var(--color-button-hover);
}

/* Адаптация под мобильные */

@media (max-width: 1300px) {
  .bad .submit-button {
    width: 100%;
    max-width: fit-content;
    height: auto;
    font-weight: 400;
    margin-top: 30px;

    display: block;
    border-radius: 24px;
    font-size: 28px;
    background: linear-gradient(180deg, #ffffff, #cccccc);
  }
  .contacts h2 {
    text-align: center;
    font-size: 28px;
    line-height: 44px;
  }

  .bad .contact-form {
    max-width: 600px;
  }
  .bad .submit-button,
  .contact-form {
    font-size: 1em;
  }

  .about {
    padding: 100px 0;
  }
  header {
    padding: 20px 0;
  }

  .desc {
    font-size: 16px;
  }

  .search {
    display: none;
  }
  .card_img,
  .card:nth-child(even) .card_img {
    order: 0;
  }
  .content_card {
    order: 1;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 1rem;
  }

  .submit-button {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .about_content_item .icon img {
    margin-top: 80px;
    width: 450px;
    animation: none;
  }
  .section,
  .about {
    padding: 80px 0;
  }
  .about_content {
    flex-direction: column;
    align-items: center;
  }
  .about_content_item:first-child {
    order: 2;
  }
  .about_content_item .logo {
    display: none;
  }

  .header_content {
    align-items: flex-start;
  }
  .main_nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    opacity: 0;
  }

  .main_nav.active {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
  }

  .main_nav.active li {
    order: 1;
  }

  .search {
    display: flex;
    order: 0;
    width: 100%;
    max-width: 80%;
    justify-content: center;
    position: relative;
  }

  .search img {
    position: absolute;
    left: 5px;
  }
  input[type="search"] {
    width: 100%;
    padding: 0px 10px 0 40px;
    height: 50px;
  }

  .main_nav a {
    font-size: 30px;
    line-height: 200%;
    text-transform: uppercase;
  }

  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
}

@media (max-width: 498px) {
  .about_content_item {
    justify-content: center;
    align-items: center;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUP {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes infiniteRotateY {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out forwards;
}

/* Скрываем стандартный чекбокс */
#consent {
  display: none;
}

/* Стили для контейнера чекбокса */
.custom-checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4;
}

/* Стили для кастомного квадратика */
.custom-checkbox {
  width: 48px;
  height: 48px;
  border: 2px solid #999;
  border-radius: 16px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease;
  background: linear-gradient(180deg, #ffffff, #cccccc);
}

/* Галочка */
.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 4px;
  width: 10px;
  height: 30px;

  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Когда чекбокс активен */
#consent:checked + .custom-checkbox-label .custom-checkbox {
  background: #4caf50;
  border-color: #4caf50;
}

#consent:checked + .custom-checkbox-label .custom-checkbox::after {
  opacity: 1;
}

@media (min-width: 1300px) {
  .bad .form-group input,
  .bad .form-group textarea {
    max-height: 40px;
    font-size: 30px;
  }

  .form-group {
    margin-bottom: 8px;
  }

  .form-group.checkbox-group {
    margin: 40px 0;
  }

  .bad .form-group textarea {
    height: 190px;
    max-height: unset;
  }

  .bad .submit-button {
    font-size: 50px;
  }

  .card {
    height: 787px;
    justify-content: space-between;
  }
  .card:first-child .card_img {
    position: absolute;
    top: 90px;
    left: 75px;
    max-width: 1000px;
  }
  .card:nth-child(2) .card_img {
    max-width: unset;
    position: absolute;
    width: 800px;
    right: 12px;
    top: 42px;
  }
  .card:nth-child(4) .card_img {
    max-width: unset;
    position: absolute;
    width: 500px;
    right: 70px;
    top: 103px;
  }
  .card:nth-child(5) .card_img {
    max-width: unset;
    position: absolute;
    width: 611px;
    left: 79px;
    top: 103px;
  }
  .card:first-child .content_card {
    position: absolute;
    bottom: 71px;
    right: 78px;
    max-width: 500px;
  }
  .card:nth-child(2) .content_card {
    position: absolute;
    top: 250px;
    left: 83px;
    max-width: 597px;
  }
  .card:nth-child(3) .content_card {
    max-width: 505px;
  }
  .card:nth-child(4) .content_card {
    position: absolute;
    top: 229px;
    left: 92px;
    max-width: 505px;
  }
  .card:nth-child(5) .content_card {
    position: absolute;
    top: 270px;
    right: 153px;
    max-width: 410px;
  }
}
